## EX02

In [181]:
import pandas as pd

In [182]:
df = pd.read_csv('data/auto.csv', sep=',', engine='python', names=('ID','CarNumber','Make_n_model','Refund','Fines','History'),  )

In [183]:
df = df.iloc[1:]

In [184]:
df.set_index('ID', inplace=True)

In [185]:
df

        CarNumber    Make_n_model Refund  Fines History
ID
0    Y163O8161RUS      Ford Focus    2.0   3200     NaN
1     E432XX77RUS    Toyota Camry    1.0   6500     NaN
2     7184TT36RUS      Ford Focus    1.0   2100     NaN
3    X582HE161RUS      Ford Focus    2.0   2000     NaN
4    E34877152RUS      Ford Focus    2.0   6100     NaN
..            ...             ...    ...    ...     ...
926  Y163O8161RUS      Ford Focus    2.0   1600     NaN
927  M0309X197RUS      Ford Focus    1.0  22300     NaN
928  O673E8197RUS      Ford Focus    2.0    600     NaN
929  8610T8154RUS      Ford Focus    1.0   2000     NaN
930  H419XE197RUS  Toyota Corolla    2.0    NaN       2

[931 rows x 5 columns]

In [186]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

In [187]:
df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'],keep='last', inplace=True)

In [188]:
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

In [189]:
df.isna().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [190]:
df.dropna(axis=1, inplace=True, thresh=500)

In [191]:
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [192]:
df['Refund'] = df['Refund'].fillna(method = 'ffill')
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [193]:
mean = df['Fines'].dropna().mean()
# import numpy as np
# df.replace([np.inf, -np.inf], np.nan, inplace=True)
# df['Fines'].replace([float('inf'), -float('inf')], mean, inplace=True)
df['Fines'].fillna(mean, inplace = True)

In [194]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.dropna(inplace=True)

In [195]:
df.isna().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

In [196]:
df['Fines']

ID
0       3200
1       6500
2       2100
3       2000
5       5700
       ...
925    24300
926     1600
927    22300
928      600
929     2000
Name: Fines, Length: 665, dtype: object

In [197]:
df['make'] = df['Make_n_model'].apply(lambda x: x.split(' ')[0])
df['model'] = df['Make_n_model'].apply(lambda x: x.split(' ')[-1])
df

        CarNumber  Make_n_model Refund  Fines    make  model
ID
0    Y163O8161RUS    Ford Focus    2.0   3200    Ford  Focus
1     E432XX77RUS  Toyota Camry    1.0   6500  Toyota  Camry
2     7184TT36RUS    Ford Focus    1.0   2100    Ford  Focus
3    X582HE161RUS    Ford Focus    2.0   2000    Ford  Focus
5    92918M178RUS    Ford Focus    1.0   5700    Ford  Focus
..            ...           ...    ...    ...     ...    ...
925  O22097197RUS    Ford Focus    1.0  24300    Ford  Focus
926  Y163O8161RUS    Ford Focus    2.0   1600    Ford  Focus
927  M0309X197RUS    Ford Focus    1.0  22300    Ford  Focus
928  O673E8197RUS    Ford Focus    2.0    600    Ford  Focus
929  8610T8154RUS    Ford Focus    1.0   2000    Ford  Focus

[665 rows x 6 columns]

In [198]:
df.drop('Make_n_model', axis=1, inplace=True)

In [199]:
df

        CarNumber Refund  Fines    make  model
ID
0    Y163O8161RUS    2.0   3200    Ford  Focus
1     E432XX77RUS    1.0   6500  Toyota  Camry
2     7184TT36RUS    1.0   2100    Ford  Focus
3    X582HE161RUS    2.0   2000    Ford  Focus
5    92918M178RUS    1.0   5700    Ford  Focus
..            ...    ...    ...     ...    ...
925  O22097197RUS    1.0  24300    Ford  Focus
926  Y163O8161RUS    2.0   1600    Ford  Focus
927  M0309X197RUS    1.0  22300    Ford  Focus
928  O673E8197RUS    2.0    600    Ford  Focus
929  8610T8154RUS    1.0   2000    Ford  Focus

[665 rows x 5 columns]

In [200]:
df.to_json('data/auto.json', orient="records")