In [103]:
import pandas as pd

In [126]:
df = pd.read_csv('data/auto.csv', sep=',', engine='python', names=('ID','CarNumber','Make_n_model','Refund','Fines','History'),  )

In [127]:
df = df.iloc[1:]

In [128]:
df.set_index('ID')

        CarNumber    Make_n_model Refund  Fines History
ID
0    Y163O8161RUS      Ford Focus    2.0   3200     NaN
1     E432XX77RUS    Toyota Camry    1.0   6500     NaN
2     7184TT36RUS      Ford Focus    1.0   2100     NaN
3    X582HE161RUS      Ford Focus    2.0   2000     NaN
4    E34877152RUS      Ford Focus    2.0   6100     NaN
..            ...             ...    ...    ...     ...
926  Y163O8161RUS      Ford Focus    2.0   1600     NaN
927  M0309X197RUS      Ford Focus    1.0  22300     NaN
928  O673E8197RUS      Ford Focus    2.0    600     NaN
929  8610T8154RUS      Ford Focus    1.0   2000     NaN
930  H419XE197RUS  Toyota Corolla    2.0    NaN       2

[931 rows x 5 columns]

In [129]:
df.count()

ID              931
CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

In [130]:
df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'],keep='last', inplace=True)

In [131]:
df.count()

ID              725
CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

In [132]:
df.isna().sum()

ID                0
CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [133]:
df.dropna(axis=1, inplace=True, thresh=500)

In [134]:
df.isna().sum()

ID               0
CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [135]:
df['Refund'] = df['Refund'].fillna(method = 'ffill')
df.isnull().sum()

ID               0
CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [136]:
mean = df['Fines'].dropna().mean()
df['Fines'].fillna(mean, inplace = True)

In [137]:
df.isnull().sum()

ID              0
CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

In [138]:
df['make'] = df['Make_n_model'].apply(lambda x: x.split(' ')[0])
df['model'] = df['Make_n_model'].apply(lambda x: x.split(' ')[-1])
df

      ID     CarNumber    Make_n_model Refund  Fines    make    model
1      0  Y163O8161RUS      Ford Focus    2.0   3200    Ford    Focus
2      1   E432XX77RUS    Toyota Camry    1.0   6500  Toyota    Camry
3      2   7184TT36RUS      Ford Focus    1.0   2100    Ford    Focus
4      3  X582HE161RUS      Ford Focus    2.0   2000    Ford    Focus
6      5  92918M178RUS      Ford Focus    1.0   5700    Ford    Focus
..   ...           ...             ...    ...    ...     ...      ...
927  926  Y163O8161RUS      Ford Focus    2.0   1600    Ford    Focus
928  927  M0309X197RUS      Ford Focus    1.0  22300    Ford    Focus
929  928  O673E8197RUS      Ford Focus    2.0    600    Ford    Focus
930  929  8610T8154RUS      Ford Focus    1.0   2000    Ford    Focus
931  930  H419XE197RUS  Toyota Corolla    2.0    inf  Toyota  Corolla

[725 rows x 7 columns]

In [139]:
df.drop('Make_n_model', axis=1, inplace=True)

In [140]:
df

      ID     CarNumber Refund  Fines    make    model
1      0  Y163O8161RUS    2.0   3200    Ford    Focus
2      1   E432XX77RUS    1.0   6500  Toyota    Camry
3      2   7184TT36RUS    1.0   2100    Ford    Focus
4      3  X582HE161RUS    2.0   2000    Ford    Focus
6      5  92918M178RUS    1.0   5700    Ford    Focus
..   ...           ...    ...    ...     ...      ...
927  926  Y163O8161RUS    2.0   1600    Ford    Focus
928  927  M0309X197RUS    1.0  22300    Ford    Focus
929  928  O673E8197RUS    2.0    600    Ford    Focus
930  929  8610T8154RUS    1.0   2000    Ford    Focus
931  930  H419XE197RUS    2.0    inf  Toyota  Corolla

[725 rows x 6 columns]

In [149]:
df.to_json('data/auto.json', orient="records")