## EX01

In [26]:
import pandas as pd

In [30]:
df = pd.read_csv('data/feed-views.log', sep=r'\t', engine='python', names=('datetime', 'user'))

In [31]:
df.datetime.dtype.name

'object'

In [32]:
df['datetime'] = pd.to_datetime(df.datetime)

In [33]:
df.datetime.dtype.name

'datetime64[ns]'

In [36]:
df['year'] = pd.DatetimeIndex(df['datetime']).year
df['month'] = pd.DatetimeIndex(df['datetime']).month
df['day'] = pd.DatetimeIndex(df['datetime']).day
df['hour'] = pd.DatetimeIndex(df['datetime']).hour
df['minute'] = pd.DatetimeIndex(df['datetime']).minute
df['second'] = pd.DatetimeIndex(df['datetime']).second

In [38]:
df.head()

                    datetime   user  year  month  day  hour  minute  second
0 2020-04-17 12:01:08.463179  artem  2020      4   17    12       1       8
1 2020-04-17 12:01:23.743946  artem  2020      4   17    12       1      23
2 2020-04-17 12:27:30.646665  artem  2020      4   17    12      27      30
3 2020-04-17 12:35:44.884757  artem  2020      4   17    12      35      44
4 2020-04-17 12:35:52.735016  artem  2020      4   17    12      35      52

In [106]:
cut_labels = ["night", 'early morning', 'morning', 'afternoon', 'early evening', 'evening']
df['daytime'] = pd.cut(df.hour, bins = [-1, 4, 7, 11, 17, 20, 23] , labels = cut_labels)

In [107]:
df['daytime']

0           afternoon
1           afternoon
2           afternoon
3           afternoon
4           afternoon
            ...
1071    early evening
1072          evening
1073          evening
1074          evening
1075          morning
Name: daytime, Length: 1076, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

In [108]:
df.set_index('user')

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

In [109]:
df.count()

datetime    1076
user        1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

In [112]:
df['daytime'].value_counts()

evening          445
afternoon        279
early evening    144
night            134
morning           74
early morning      0
Name: daytime, dtype: int64

In [120]:
df.sort_values(ascending = True, axis=0, by =['hour', "minute","second"], inplace=True)

In [121]:
df

,datetime,user,year,month,day,hour,minute,second,daytime
944,2020-05-15 00:00:13.222265,valentina,2020,5,15,0,0,13,night
945,2020-05-15 00:01:05.153738,valentina,2020,5,15,0,1,5,night
563,2020-05-12 00:01:27.764025,pavel,2020,5,12,0,1,27,night
564,2020-05-12 00:01:38.444917,pavel,2020,5,12,0,1,38,night
565,2020-05-12 00:01:55.395042,pavel,2020,5,12,0,1,55,night
...,...,...,...,...,...,...,...,...,...
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22,evening
246,2020-05-09 23:53:55.599821,anatoliy,2020,5,9,23,53,55,evening
247,2020-05-09 23:54:54.260791,pavel,2020,5,9,23,54,54,evening
942,2020-05-14 23:58:56.754866,valentina,2020,5,14,23,58,56,evening
943,2020-05-14 23:59:38.758438,alexander,2020,5,14,23,59,38,evening

In [124]:
max(df['hour'].where(df.daytime=='night'))

4.0

In [127]:
min(df['hour'].where(df.daytime=='morning').dropna())

8.0

In [133]:
df['user'].where(df.hour==4).dropna()

313    konstantin
314    konstantin
315    konstantin
316    konstantin
317    konstantin
Name: user, dtype: object

In [134]:
df['user'].where(df.hour==8).dropna()

963    alexander
964    alexander
Name: user, dtype: object

In [138]:
df['hour'].mode()

0    22
dtype: int64

In [139]:
df['daytime'].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

In [145]:
df.where(df.daytime=='morning').nsmallest(3, 'hour')

,datetime,user,year,month,day,hour,minute,second,daytime
963,2020-05-15 08:16:03.918402,alexander,2020.0,5.0,15.0,8.0,16.0,3.0,morning
964,2020-05-15 08:35:01.471463,alexander,2020.0,5.0,15.0,8.0,35.0,1.0,morning
965,2020-05-15 09:02:24.999438,alexander,2020.0,5.0,15.0,9.0,2.0,24.0,morning

In [146]:
df.where(df.daytime=='morning').nlargest(3, 'hour')

,datetime,user,year,month,day,hour,minute,second,daytime
139,2020-05-01 11:02:12.343448,artem,2020.0,5.0,1.0,11.0,2.0,12.0,morning
15,2020-04-18 11:02:42.796521,artem,2020.0,4.0,18.0,11.0,2.0,42.0,morning
62,2020-04-21 11:02:44.545611,artem,2020.0,4.0,21.0,11.0,2.0,44.0,morning

In [148]:
df['hour'].describe()

count    1076.000000
mean       16.249071
std         6.955490
min         0.000000
25%        13.000000
50%        19.000000
75%        22.000000
max        23.000000
Name: hour, dtype: float64

In [150]:
iqr = df['hour'].describe().quantile(0.75) - df['hour'].describe().quantile(0.50)

In [151]:
iqr

4.625464684014872

In [ ]:
#https://www.geeksforgeeks.org/how-to-use-pandas-filter-with-iqr/