## EX05

In [94]:
import pandas as pd
import gc

In [95]:
fines = pd.read_csv('data/fines.csv')

In [96]:
%%timeit
new_col = []
for i in range(len(fines)):
    new_col.append(fines.iloc[i]['Fines'] / (fines.iloc[i]['Refund'] * fines.iloc[i]['Year']))
fines['calculate_column'] = new_col

347 ms ± 50.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [97]:
fines['calculate_column']

0       0.804424
1       3.258145
2       1.058468
3       0.496278
4       2.830189
         ...
865    13.300083
866    13.300083
867    13.300083
868    13.300083
869    13.300083
Name: calculate_column, Length: 870, dtype: float64

In [98]:
%%time
new_col = []
for i, row in fines.iterrows():
    new_col.append(row['Fines'] / (row['Refund'] * row['Year']))
fines['calculate_column'] = new_col

CPU times: user 54 ms, sys: 1.38 ms, total: 55.4 ms
Wall time: 54.9 ms

In [99]:
fines['calculate_column']

0       0.804424
1       3.258145
2       1.058468
3       0.496278
4       2.830189
         ...
865    13.300083
866    13.300083
867    13.300083
868    13.300083
869    13.300083
Name: calculate_column, Length: 870, dtype: float64

In [100]:
%%time
fines['calculate_column'] = fines.apply(lambda row: row['Fines'] / (row['Refund'] * row['Year']), axis=1)

CPU times: user 16.8 ms, sys: 1.17 ms, total: 18 ms
Wall time: 17.6 ms

In [101]:
fines['calculate_column']

0       0.804424
1       3.258145
2       1.058468
3       0.496278
4       2.830189
         ...
865    13.300083
866    13.300083
867    13.300083
868    13.300083
869    13.300083
Name: calculate_column, Length: 870, dtype: float64

In [102]:
%%time
fines['calculate_column'] = fines['Fines'] / (fines['Refund'] * fines['Year'])

CPU times: user 1.04 ms, sys: 335 µs, total: 1.37 ms
Wall time: 1.31 ms

In [103]:
fines['calculate_column']

0       0.804424
1       3.258145
2       1.058468
3       0.496278
4       2.830189
         ...
865    13.300083
866    13.300083
867    13.300083
868    13.300083
869    13.300083
Name: calculate_column, Length: 870, dtype: float64

In [104]:
%%time
fines['calculate_column'] = fines['Fines'].values / (fines['Refund'].values * fines['Year'].values)

CPU times: user 1.35 ms, sys: 572 µs, total: 1.92 ms
Wall time: 1.34 ms

In [105]:
fines['calculate_column']

0       0.804424
1       3.258145
2       1.058468
3       0.496278
4       2.830189
         ...
865    13.300083
866    13.300083
867    13.300083
868    13.300083
869    13.300083
Name: calculate_column, Length: 870, dtype: float64

## indexing: measure the time using the magic command %%timeit in the cell

In [106]:
%%time
fines.loc[fines['CarNumber'] == 'O136HO197RUS']

CPU times: user 904 µs, sys: 198 µs, total: 1.1 ms
Wall time: 1.07 ms

        CarNumber  Refund   Fines    make    model  Year  calculate_column
657  O136HO197RUS       2  7800.0  Toyota  Corolla  2003          1.947079

In [107]:
%%time
fines = fines.set_index('CarNumber')

CPU times: user 665 µs, sys: 69 µs, total: 734 µs
Wall time: 745 µs

In [108]:
%%time
fines.loc['O136HO197RUS']

CPU times: user 1.52 ms, sys: 598 µs, total: 2.11 ms
Wall time: 1.63 ms

Refund                     2
Fines                 7800.0
make                  Toyota
model                Corolla
Year                    2003
calculate_column    1.947079
Name: O136HO197RUS, dtype: object

## downcasting

In [109]:
%%time
fines.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 870 entries, Y163O8161RUS to sdjsdf82384
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Refund            870 non-null    int64
 1   Fines             870 non-null    float64
 2   make              870 non-null    object
 3   model             870 non-null    object
 4   Year              870 non-null    int64
 5   calculate_column  870 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 223.2 KB
CPU times: user 6.36 ms, sys: 2.09 ms, total: 8.45 ms
Wall time: 8.06 ms

In [117]:
fines_copy = fines.copy()

In [118]:
fines_copy

              Refund     Fines    make  model  Year  calculate_column
CarNumber
Y163O8161RUS       2    3200.0    Ford  Focus  1989          0.804424
E432XX77RUS        1    6500.0  Toyota  Camry  1995          3.258145
7184TT36RUS        1    2100.0    Ford  Focus  1984          1.058468
X582HE161RUS       2    2000.0    Ford  Focus  2015          0.496278
92918M178RUS       1    5700.0    Ford  Focus  2014          2.830189
...              ...       ...     ...    ...   ...               ...
sdjsdf82384       12  320000.0    Ford  Focus  2005         13.300083
sdjsdf82384       12  320000.0    Ford  Focus  2005         13.300083
sdjsdf82384       12  320000.0    Ford  Focus  2005         13.300083
sdjsdf82384       12  320000.0    Ford  Focus  2005         13.300083
sdjsdf82384       12  320000.0    Ford  Focus  2005         13.300083

[870 rows x 6 columns]

In [119]:
fines_copy['Fines'] = pd.to_numeric(fines_copy['Fines'], downcast='float')
fines_copy['Refund'] = pd.to_numeric(fines_copy['Refund'], downcast='integer')
fines_copy['Year'] = pd.to_numeric(fines_copy['Year'], downcast='integer')

In [120]:
fines_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 870 entries, Y163O8161RUS to sdjsdf82384
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Refund            870 non-null    int8
 1   Fines             870 non-null    float32
 2   make              870 non-null    object
 3   model             870 non-null    object
 4   Year              870 non-null    int16
 5   calculate_column  870 non-null    float64
dtypes: float32(1), float64(1), int16(1), int8(1), object(2)
memory usage: 208.8 KB

## categories

In [129]:
fines_copy.reset_index(inplace=True)

In [127]:
fines_copy.reset_index()
fines_copy['CarNumber'] = fines_copy['CarNumber'].astype('category')
fines_copy['Make'] = fines_copy['make'].astype('category')
fines_copy['Model'] = fines_copy['model'].astype('category')

In [128]:
fines_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CarNumber         870 non-null    category
 1   Refund            870 non-null    int8
 2   Fines             870 non-null    float32
 3   make              870 non-null    object
 4   model             870 non-null    object
 5   Year              870 non-null    int16
 6   calculate_column  870 non-null    float64
 7   Make              870 non-null    category
 8   Model             870 non-null    category
dtypes: category(3), float32(1), float64(1), int16(1), int8(1), object(2)
memory usage: 173.9 KB

## memory clean

In [51]:
fines

              Refund     Fines    make  model  Year  calculate_column
CarNumber
Y163O8161RUS       2    3200.0    Ford  Focus  1989          0.804424
E432XX77RUS        1    6500.0  Toyota  Camry  1995          3.258145
7184TT36RUS        1    2100.0    Ford  Focus  1984          1.058468
X582HE161RUS       2    2000.0    Ford  Focus  2015          0.496278
92918M178RUS       1    5700.0    Ford  Focus  2014          2.830189
...              ...       ...     ...    ...   ...               ...
sdjsdf82384       12  320000.0    Ford  Focus  2005         13.300083
sdjsdf82384       12  320000.0    Ford  Focus  2005         13.300083
sdjsdf82384       12  320000.0    Ford  Focus  2005         13.300083
sdjsdf82384       12  320000.0    Ford  Focus  2005         13.300083
sdjsdf82384       12  320000.0    Ford  Focus  2005         13.300083

[870 rows x 6 columns]

In [59]:
%reset_selective -f fines

In [60]:
fines

NameError: name 'fines' is not defined